{% extends 'layouts/layout.html.twig' %}

{% block content %}

    <div class="container px-4 px-lg-5">
        <!-- Heading Row-->
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{{ asset('uploads/'~anime.img) }}"
                                       alt="..."/></div>
            <div class="col-lg-5">
                <a href=""><i class="bi-bookmark"></i></a>
                {# {% if app.user %} #}
                {# <p>Episode: <imput></imput> sur {{ anime.ep }}</p> #}
                {# {% endif %} #}
                <h1 class="font-weight-light">{{ anime.name }}.</h1>
                <hr class="top-home">
                <p> {{ anime.description }}</p>
                {% if app.user %}
                    <a class="btn btn-primary btn-sm" href="{{ url('add', {'id': anime.id}) }}">Ajouter à ma liste.</a>
                    <a class="btn btn-primary btn-sm" href="{{ url('comment', {'id': anime.id}) }}">Commenter.</a>
                    <a class="btn btn-primary btn-sm" href="{{ url('editComment', {'id': anime.id}) }}">Editer mon commentaire.</a>
                {% endif %}
            </div>
            <hr class="top-home">
            <h2>Commentaires des utilisateurs:</h2>
            <hr class="top-home">

            {% for comment in anime.comments %}
                <div class="col-md-4 mb-5">
                    <div class="card h-100">
                        <div class="card-body2">
                            <h3 class="alert">Auteur: {{ comment.user.pseudo }}</h3>
                            <hr>
                            <p class="card-text">{{ comment.content }}</p>

                        </div>
                    </div>
                </div>
            {% else %}
                <h3>Pas de commentaire</h3>
            {% endfor %}
        </div>
    </div>
{% endblock content %}

