{% extends 'layouts/layout.html.twig' %}

{% block content %}
    <div class="container px-4 px-lg-5">

        <div class="container-library">
            <hr class="top-home">
            <h2>Mes animés en favoris: </h2>
            <hr class="top-home">
            <div class="row gx-4 gx-lg-5">
                {% for  library in  user.libraries %}

                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <img src="{{ asset('uploads/'~library.anime.img) }}" alt="" class="card-img">
                                <h2 class="card-title">{{ library.anime.name }}</h2>
                                <h3 class="card-title">type: {{ library.anime.type }}</h3>
                                <p></p><i class="far fa-star"></i>
                                <i class="far fa-bookmark"></i>
                                <p class="card-text">{{ library.anime.description }}</p>
                            </div>
                            <div class="card-footer"><a class="btn btn-primary btn-sm"
                                 href="{{ url('anime', {'id': library.anime.id}) }}">Plus d'info ici.</a>
                                <a class="btn red-btn btn-sm" href="{{ url('delete', {'id': library.id}) }}">Supprimer de la collection.</a>
                                <a class="btn btn-primary btn-sm" href="{{ url('comment', {'id': library.anime.id}) }}">Commenter.</a>
                                <a class="btn btn-primary btn-sm" href="{{ url('editComment', {'id': library.anime.id}) }}">Editer mon commentaire.</a>
                            </div>
                        </div>
                    </div>

                {% else %}

                    <h3>Vous n'avez pas d'animé dans votre collection, vous pouvez aller en ajouter sur la page Acceuil</h3>
                    <hr class="top-home">
                {% endfor %}


            </div>
        </div>
    </div>
{% endblock content %}